.home-container h1 {
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 28px;
    color: #000000;
    margin-top: 30px;
  }

  .home-container p {
    font-weight: bold;
    font-size: 18px;
    color: #7e7e7e;
    margin-bottom: 35px;
  }

@media (min-width: 576px) {
  .home-container h1 {
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 48px;
    color: #000000;
    margin-top: 30px;
  }

  .home-container p {
    font-weight: bold;
    font-size: 24px;
    color: #7e7e7e;
    margin-bottom: 35px;
  }
}
